<table class="highlight bordered">
    <thead>
        <tr>
            <th data-field="id" class="col s2"></th>
            <th data-field="name" class="col s5">Full Name</th>
            <th data-field="address" class="col s5">Email</th>
            <th data-field="apply" *ngIf="currentUser && currentUser?.type==3">Approve</th>
        </tr>
    </thead>

    <tbody>
        <tr class="cursor-style" *ngFor="let student of keys((students));let i = index">
            <td class="col s2" (click)="openModal(students[student])"> <img class="image" *ngIf="(students)[student]['profile-image']" [src]="(students)[student]['profile-image']"
                    alt=""></td>
            <td class="col s5 takeMargin" (click)="openModal(students[student])">{{(students)[student]?.firstName + " " + (students)[student]?.lastName }}</td>
            <td class="col s5 takeMargin" (click)="openModal(students[student])">{{(students)[student]?.email}}</td>
            <td><a class="waves-effect waves-light btn" *ngIf="currentUser && (students)[student]?.status==0 && currentUser?.type==3"
                    (click)="approve(student)">Approve</a></td>
        </tr>
    </tbody>
</table>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <user-profile [user]="modalStudent" [displayOnly]="true"></user-profile>
    </div>
    <div class="modal-footer">
        <a (click)="closeModal()" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
</div>